$t-p: #6441A4
$t-p-h: #5932a1
$w: #ffffff
$b: #000000
$g: #b5b5b5
$g-h: #8f8f8f

body
  font-family: 'Roboto', sans-serif
  .navbar
    background-color: $t-p
    height: auto
    padding: 1.5em
    .navbar-brand
      font-size: 1em
      color: $w
      cursor: default
      img
        height: auto
        cursor: pointer
      span
        margin-left: 0.5em
        letter-spacing: 3px
        font-weight: 600
        text-transform: uppercase
        vertical-align: sub
      span:last-child
        font-size: 0.75em
        font-weight: 200
        text-transform: uppercase
        vertical-align: -3px
  .container
    margin-top: 2rem
    cursor: default
    .sort
      font-size: 1.25em
      font-weight: 300
      vertical-align: sub
      margin-right: 0.25em
      letter-spacing: 0.75px
    .btn
      color: $w
      letter-spacing: 1.25px
      text-transform: uppercase
      cursor: pointer
    .filter
      border-radius: 100px
      margin-right: 0.25em
    .btn-live
      background-color: $t-p
    .btn-live:hover
      background-color: $t-p-h
      transition: background-color 500ms
    .btn-off
      background-color: $g
    .btn-off:hover
      background-color: $g-h
      transition: background-color 500ms
    .card
      .profil-pic
        width: 5em
        height: 5em
        border-radius: 100%
        float: left
        margin-right: 1em
      h4
        font-weight: 600
        letter-spacing: 1.5px
        font-size: 1.75em
        display: inline-block
      p
        font-weight: 300
        letter-spacing: 1px
        display: inline-block
      .btn
        float: right
        margin: -1.5em 1.5em auto auto
        transform: scale(1.25)
    .made
      display: block
      color: $b
      opacity: 0.8
      padding-bottom: 1.75em
      .heart, .coffee
        vertical-align: text-top
      a
        text-decoration: none
        color: $b
      a:hover
        color: $t-p
@import "mobil"
